@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #0f7afc;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    text-decoration:none
}
a:hover {
    color:#cf0000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
    text-decoration:none
}
a:visited {
    color: #800080;
    border-bottom-color: rgba(128, 0, 128, 0.2);
    text-decoration:none
}