.reveal .paw-ejemplo {
	background-color: var(--paw-verde-claro);
	position: relative;
	width: 80vw;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	background-color: var(--paw-verde-claro);
}

.reveal .paw-ejemplo .paw-contenedor {
	background-color: var(--paw-verde-oscuro);
	margin: 10%;
	padding: 10%;
	border: 10px solid var(--paw-amarillo);
	outline: 10px solid black;
	outline-offset: 15px;
}

.reveal .paw-ejemplo .paw-offset {
	outline-offset: 25px;
}

.reveal .paw-ejemplo .paw-offset:hover {
	outline-offset: 100px;
}

.reveal .paw-ejemplo .paw-limite-margin {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	border: 2px dotted black;
	width: 40vw;
	margin: 0 -6px;
	padding: 0;
}
.reveal .paw-ejemplo .paw-contenido {
	display: block;
	background-color: var(--paw-verde-medio-claro);
}

.reveal .paw-ejemplo .paw-sombraAfuera {
	box-shadow: 0 0 30px 5px black;
	outline: none;
}

.reveal .paw-ejemplo .paw-sombraAdentro {
	box-shadow: inset 0 0 20px 5px black;
	outline: none;
}

.reveal .paw-ejemplo .paw-flotandoDer {
	float: right;
}
.reveal .paw-ejemplo .paw-flotandoIzq {
	float: left;
}
