.bordeAmarillo {
    fill: white;
    stroke: #fbc808;
    stroke-width: 61.94;
    stroke-miterlimit: 22.9256;
}
.escudoVerde {
    fill: #014026;
}
.unluGris,
.gris {
    fill: #e6e6e6;
}
.unluBlanco,
.blanco {
    fill: white;
}
.mitadEscudoClaro {
    fill: white;
    fill-opacity: 0.2;
}

.paw-visible {
    opacity: 1;
}

.paw-transparente {
    opacity: 0;
}

#fenix {
    transform: rotate3d(0, 0, 0, 0), scale(1) ;
    transform-origin: center;
    transition: transform;
}

.paw-logo { 
    filter: blur(6px);
    transition: all 1s;
}

.paw-logo:hover #fenix {
    animation: animacion-late 8s infinite;
}

.paw-logo:hover {
    filter: blur(0);
    transform: scale(1.3);
    transform-origin: center;
    transition: all 1s;
}

.paw-logo #unlu {
    transform: scale(1);
    transition: all 1s;
}
.paw-logo:hover #unlu {
    transform: scale(1.6);
    transform-origin: center;
    transition: all 1s;
}

@keyframes animacion-late {
    0% {
		transform: rotate3d(0, 0, 0, 0) scale(1) ;
	}
	50% {
		transform: rotate3d(0, 0, 0, 0) scale(1);
	}
	62.5% {
		transform: rotate3d(0, 1, 0.1, 30deg) scale(1.2);
	}
	75% {
		transform: rotate3d(0) scale(1);
	}
	87.5% {
		transform: rotate3d(0, 1, 0.1, -30deg) scale(1.2);
	}
	100% {
		transform: rotate3d(0) scale(1);
	}
}